---
---
<div class="nav-links" transition:animate="slide">
<a href="/Astro-Blog/">Home</a>
<a href="/Astro-Blog/about/" data-astro-reload>About</a>
<a href="/Astro-Blog/blog">Blog</a>
<a href="/Astro-Blog/tags/">Tags</a>
<a href="/Astro-Blog/movies/">Movies</a>
</div>